#main-container {
	width: 80%;
	margin-left: auto; 
	margin-right: auto; 
}

#footer {
	margin-top: 40px;
	margin-bottom: 10px;
}

.small-centered-content {
	width:600px; 
	margin: 0 auto;
}

.medium-centered-content {
	width:850px; 
	margin: 0 auto;
}

.clear {
	clear: both;
}

#imagePreview {
    width: 180px;
    height: 180px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
}

.article-image-view {
	height: 300px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
}

.quick-view-article {
	margin-bottom: 25px;
}